{% extends "main.html" %}

{% block title %}Нүүр{% endblock %}


{% block style %}
	{{ form.media }}
{% endblock %}


{% block body %}
{% endblock %}

	{% block content %}
            <!-- Content -->	
            <div id="content">
              	 <!-- <div class="in">
                    <p id="breadcrumbs">You are here: <a href="/base/myjobs">Миний ажлын байрууд</a> <span>/</span><strong>Ажлын байр нэмэх</strong></p>
                </div>
                 --> 
                <h2 class="title-01">Ажлын байр нэмэх</h2>
                <div class="in">
                    <!-- Topstory -->
                    <div class="box">
                    	<form action="" method="post"> {% csrf_token %} 
							{{ form.as_table }}
						<p class="entry" style="margin: 6px 0 0 20%">
							<input type="submit" class="button" value="Хадгалах" /><strong>&nbsp;&nbsp;|&nbsp;&nbsp;</strong><input type="button" class="button" value="Буцах" onclick="document.location='/base/myjobs';"/>
						</p>
						</form>
                        
                    </div> <!-- /box -->
					

                    <!-- Older articles -->
                    <h4 class="title-02"><span>Older articles</span></h4>
                    
                    <div class="cols5050 box">

                        <!-- Left column -->
                        <div class="col">

                            <!-- Article -->
                            <div class="article box">
                                <div class="article-img"><img src="{{ STATIC_URL }}/css/images/85x63.gif" alt="" /></div>
                                <div class="article-txt">
                                    <h4><a href="#">Lorem ipsum sit amet</a></h4>
                                    <p>Lorem ipsum dolor sit consectetuer adipiscing elit. Suspendisse in lacis.</p>
                                </div> <!-- /article-txt -->
                            </div> <!-- /article -->

                            <!-- Article -->
                            <div class="article box">
                                <div class="article-img"><img src="{{ STATIC_URL }}/css/images/85x63.gif" alt="" /></div>
                                <div class="article-txt">
                                    <h4><a href="#">Lorem ipsum sit amet</a></h4>
                                    <p>Lorem ipsum dolor sit consectetuer adipiscing elit. Suspendisse in lacis.</p>
                                </div> <!-- /article-txt -->
                            </div> <!-- /article -->

                            <!-- Article -->
                            <div class="article box">
                                <div class="article-img"><img src="{{ STATIC_URL }}/css/images/85x63.gif" alt="" /></div>
                                <div class="article-txt">
                                    <h4><a href="#">Lorem ipsum sit amet</a></h4>
                                    <p>Lorem ipsum dolor sit consectetuer adipiscing elit. Suspendisse in lacis.</p>
                                </div> <!-- /article-txt -->
                            </div> <!-- /article -->

                        </div> <!-- /col -->
                        <!-- Right column -->
                        <div class="col f-right">

                            <!-- Article -->
                            <div class="article box">
                                <div class="article-img"><img src="{{ STATIC_URL }}/css/images/85x63.gif" alt="" /></div>
                                <div class="article-txt">
                                    <h4><a href="#">Lorem ipsum sit amet</a></h4>
                                    <p>Lorem ipsum dolor sit consectetuer adipiscing elit. Suspendisse in lacis.</p>
                                </div> <!-- /article-txt -->
                            </div> <!-- /article -->

                            <!-- Article -->
                            <div class="article box">
                                <div class="article-img"><img src="{{ STATIC_URL }}/css/images/85x63.gif" alt="" /></div>
                                <div class="article-txt">
                                    <h4><a href="#">Lorem ipsum sit amet</a></h4>
                                    <p>Lorem ipsum dolor sit consectetuer adipiscing elit. Suspendisse in lacis.</p>
                                </div> <!-- /article-txt -->
                            </div> <!-- /article -->

                            <!-- Article -->
                            <div class="article box">
                                <div class="article-img"><img src="{{ STATIC_URL }}/css/images/85x63.gif" alt="" /></div>
                                <div class="article-txt">
                                    <h4><a href="#">Lorem ipsum sit amet</a></h4>
                                    <p>Lorem ipsum dolor sit consectetuer adipiscing elit. Suspendisse in lacis.</p>
                                </div> <!-- /article-txt -->
                            </div> <!-- /article -->

                        </div> <!-- /col -->
                    
                    </div> <!-- /cols5050 -->

                    <p class="nomb t-right"><a href="#" class="more">More articles</a></p>
                
                </div> <!-- /in -->
                
            </div> <!-- /content -->
			{% endblock %}





            

{% block leftside %}
				 <div id="aside">
                <h4 class="title-03">Миний цэс</h4>
                <div class="in">
                    <ul id="subnav">
                        <li><a href="/base/addjobs">Ажлын байр нэмэх</a></li>
                        <li><a href="/base/myjobs">Миний ажлын байрууд</a></li>
                        <li class="last"><a href="#">Lorem ipsum sit amet</a></li>
                    </ul>
                </div> <!-- /in -->
                
                <h4 class="title-04">News</h4>
                
                <div class="in">
                
                    <dl id="news" class="box">
                        <dt>15. 05. 2008</dt>
                        <dd>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. <a href="#">Proin scelerisque</a> sem veil. Aliquam erat volutpat.</dd>
                        
                        <dt>15. 05. 2008</dt>
                        <dd>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. <a href="#">Proin scelerisque</a> sem veil. Aliquam erat volutpat.</dd>
                        
                        <dt>15. 05. 2008</dt>
                        <dd>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. <a href="#">Proin scelerisque</a> sem veil. Aliquam erat volutpat.</dd>
                    </dl>
                    
                    <p class="nomb t-right"><a href="#" class="more">Older news</a></p>
                
                </div> <!-- /in -->

            </div> <!-- /aside -->
{% endblock %}