{% extends "main.html" %}
{% load basetags %}

{% block title %}Шинэ анкет{% endblock %}

{% block script %}
<script type="text/javascript">
$.ajaxPrefilter(function(options, originalOptions, jqXHR) {
    if(!options.crossDomain) {
        if(options.data) {
            options.data += "&";
        } else {
            options.data = "";
        }
        options.data += "csrfmiddlewaretoken={{csrf_token}}";
    }
});
</script>
<script type="text/javascript" src="{{ STATIC_URL }}/scripts/modernizr.custom.29473.js"></script>
{% endblock %}

{% block style %}
{{ form.media }}
<link href="{{ STATIC_URL }}/css/ac-container.css" rel="stylesheet" type="text/css"/>
<link href="{{ STATIC_URL }}/css/jobcvform.css" rel="stylesheet" type="text/css"/>
<style type="text/css">
div.in table{
	margin: 0;
}
div.phoneform .ffb-input {
	width: 100px;
}
div.cvform {
	margin:auto;
	padding:0;
	border: 1px solid #D0D0D0;
	margin-bottom: 10px;
}
div.cvform h4 {
	margin: 0;
	padding: 3px 10px 2px 10px;
	background: #0081C7;
	border: 1px solid #0081C7;
	outline: 1px solid #909090;
	color: #ffffff;
}

div.cvform td {
	padding: 3px 0px;
}

div.cvform table td.label {
	text-align: right;
	color: #4089F2;
	padding-right: 7px;
	font-family: sans-serif;
	font-size: 10pt;
	padding-left: 10px;
}

div.cvform table th {
	color: #4089F2;
	font-family: sans-serif;
	font-size: 10pt;
	font-weight: normal;
}

div.cvform table.box td,
div.cvform table.grid td {
	padding: 1px 2px;
}


</style>
{% endblock %}

{% block content %}
	{% for f in phoneform.management_form %} {{ f }} {% endfor %}
    <div class="in">
    <form method="post" action="" enctype="multipart/form-data">
    	{% csrf_token %}
    	<div class="cvform">
    	    <h4>Ерөнхий мэдээлэл</h4>
    	    <table><tr><td width="45%">
    	    <table cellpadding="3" cellspacing="2" class="box">
			    <tr><td class="label">{{ form.family_name.label }}:</td><td{% if form.family_name.errors %} class="error_list"{% endif %}>{{ form.family_name }}{% if form.family_name.errors %}<br/>{% for e in form.family_name.errors %}<span class="error_list">{{ e|translate }}</span> {% endfor %}{% endif %}</td></tr>
	            <tr><td class="label">{{ form.last_name.label }}:</td><td{% if form.last_name.errors %} class="error_list"{% endif %}>{{ form.last_name }}{% if form.last_name.errors %}<br/>{% for e in form.last_name.errors %} <span class="error_list">{{ e|translate }}</span> {% endfor %}{% endif %}</td></tr>
	            <tr><td class="label">{{ form.first_name.label }}:</td><td{% if form.first_name.errors %} class="error_list"{% endif %}>{{ form.first_name }}{% if form.first_name.errors %}<br/>{% for e in form.first_name.errors %}<span class="error_list">{{ e|translate }}</span> {% endfor %}{% endif %}</td></tr>
	            <tr><td class="label">{{ form.gender.label }}:</td><td{% if form.gender.errors %} class="error_list"{% endif %}>{{ form.gender }}{% if form.gender.errors %}<br/>{% for e in form.gender.errors %}<span class="error_list">{{ e|translate }}</span> {% endfor %}{% endif %}</td></tr>
	            <tr><td class="label">{{ form.socialstatus.label }}:</td><td{% if form.socialstatus.errors %} class="error_list"{% endif %}>{{ form.socialstatus }}{% if form.socialstatus.errors %}<br/>{% for e in form.socialstatus.errors %}<span class="error_list">{{ e|translate }}</span> {% endfor %}{% endif %}</td></tr>
	            <tr><td class="label">{{ form.nation.label }}:</td><td{% if form.nation.errors %} class="error_list"{% endif %}>{{ form.nation }}{% if form.nation.errors %}<br/>{% for e in form.nation.errors %}<span class="error_list">{{ e|translate }}</span> {% endfor %}{% endif %}</td></tr>
	            <tr></tr>
	        </table>
	        </td><td>
	        <table cellpadding="3" cellspacing="2" class="box">
				<tr><td class="label">{{ form.birthcity.label }}:</td><td{% if form.birthcity.errors %} class="error_list"{% endif %}>{{ form.birthcity }}{% if form.birthcity.errors %}<br/>{% for e in form.birthcity.errors %}<span class="error_list">{{ e|translate }}</span> {% endfor %}{% endif %}</td></tr>
	            <tr><td class="label">{{ form.birthdistrict.label }}:</td><td{% if form.birthdistrict.errors %} class="error_list"{% endif %}>{{ form.birthdistrict }}{% if form.birthdistrict.errors %}<br/>{% for e in form.birthdistrict.errors %}<span class="error_list">{{ e|translate }}</span> {% endfor %}{% endif %}</td></tr>
	            <tr><td class="label">{{ form.birthdate.label }}:</td><td{% if form.birthdate.errors %} class="error_list"{% endif %}>{{ form.birthdate }}{% if form.birthdate.errors %}<br/>{% for e in form.birthdate.errors %}<span class="error_list">{{ e|translate }}</span> {% endfor %}{% endif %}</td></tr>
            	<tr><td class="label">{{ form.district.label }}:</td><td{% if form.district.errors %} class="error_list"{% endif %}>{{ form.district }}{% if form.district.errors %}<br/>{% for e in form.district.errors %}<span class="error_list">{{ e|translate }}</span> {% endfor %}{% endif %}</td></tr>
            	<tr><td class="label">{{ form.home_address.label }}:</td><td{% if form.home_address.errors %} class="error_list"{% endif %}>{{ form.home_address }}{% if form.home_address.errors %}<br/>{% for e in form.home_address.errors %}<span class="error_list">{{ e|translate }}</span> {% endfor %}{% endif %}</td></tr>
			</table>
			</td></tr>
			</table>
	    </div>
        <div class="cvform">
			<h4>Бусад</h4>
			<table><tr><td width="55%">
			<table cellpadding="3" cellspacing="2" class="box">
				<tr><td class="label" width="40%">{{ form.education.label }}:</td><td{% if form.education.errors %} class="error_list"{% endif %}>{{ form.education }}{% if form.education.errors %}<br/>{% for e in form.education.errors %}<span class="error_list">{{ e|translate }}</span> {% endfor %}{% endif %}</td></tr>
	            <tr><td class="label">{{ form.occupation.label }}:</td><td{% if form.occupation.errors %} class="error_list"{% endif %}>{{ form.occupation }}{% if form.occupation.errors %}<br/>{% for e in form.occupation.errors %}<span class="error_list">{{ e|translate }}</span> {% endfor %}{% endif %}</td></tr>
	            <tr><td class="label">{{ form.passnumber.label }}:</td><td{% if form.passnumber.errors %} class="error_list"{% endif %}>{{ form.passnumber }}{% if form.passnumber.errors %}<br/>{% for e in form.passnumber.errors %}<span class="error_list">{{ e|translate }}</span> {% endfor %}{% endif %}</td></tr>
	            <tr><td class="label">{{ form.registernumber.label }}:</td><td{% if form.registernumber.errors %} class="error_list"{% endif %}>{{ form.registernumber }}{% if form.registernumber.errors %}<br/>{% for e in form.registernumber.errors %}<span class="error_list">{{ e|translate }}</span> {% endfor %}{% endif %}</td></tr>
	        </table>
	        </td><td>
	        <table cellpadding="3" cellspacing="2" class="box">
	            <tr><td class="label">{{ form.method_return.label }}:</td><td{% if form.method_return.errors %} class="error_list"{% endif %}>{{ form.method_return }}{% if form.method_return.errors %}<br/>{% for e in form.method_return.errors %}<span class="error_list">{{ e|translate }}</span> {% endfor %}{% endif %}</td></tr>
	            <tr><td class="label">{{ form.salary_request.label }}:</td><td{% if form.salary_request.errors %} class="error_list"{% endif %}>{{ form.salary_request }}{% if form.salary_request.errors %}<br/>{% for e in form.salary_request.errors %}<span class="error_list">{{ e|translate }}</span> {% endfor %}{% endif %}</td></tr>
	            <tr><td class="label">{{ form.date_posible.label }}:</td><td{% if form.date_posible.errors %} class="error_list"{% endif %}>{{ form.date_posible }}{% if form.date_posible.errors %}<br/>{% for e in form.date_posible.errors %}<span class="error_list">{{ e|translate }}</span> {% endfor %}{% endif %}</td></tr>
	            <tr><td class="label">{{ form.photo.label }}:</td><td{% if form.photo.errors %} class="error_list"{% endif %}>{{ form.photo }}{% if form.photo.errors %}<br/>{% for e in form.photo.errors %}<span class="error_list">{{ e|translate }}</span> {% endfor %}{% endif %}</td></tr>
	        </table>
	        </td></tr></table>
		</div>
		
		<div class="cvform">
		<h4>Утас</h4>
		{% render_error phoneform.forms %}
		{% for f in phoneform.management_form %} {{ f }} {% endfor %}
			<table cellpadding="3" cellspacing="2" class="grid">
				<tr><th width="20px" style="text-align:right">№</th>
					<th width="170px">Төрөл</th>
					<th width="100px">Дугаар</th></tr>
				{% for pf in phoneform.forms %}
					<tr>
						<td style="text-align:center">{{ forloop.counter }}</td>
						<td{% if pf.type.errors %} class="error_list"{% endif %} width="170px">{{ pf.type }}</td>
						<td{% if pf.number.errors %} class="error_list"{% endif %}>{{ pf.number }}</td>
					</tr>
				{% endfor %}
			</table>
		</div>
		
		<div class="cvform">
			<h4>Боловсрол</h4>
			{% render_error occupationform.forms %}
			{% for f in occupationform.management_form %} {{ f }} {% endfor %}
			<table cellpadding="3" cellspacing="2" class="grid">
				<tr><th width="10px" style="text-align:right">№</th>
					<th width="130px">Төрөл</th>
					<th width="200px">Сургууль</th>
					<th width="150px">Хаана</th>
					<th width="95px">Элссэн он</th>
					<th width="95px">Төгссөн /<br/>төгсөх он</th>
					<th width="200px">Мэргэжил</th>
					<th width="150px">Голч дүн</th>
				</tr>
				{% for pf in occupationform.forms %}
					<tr>
						<td style="text-align:center">{{ forloop.counter }}</td>
						<td{% if pf.type.errors %} class="error_list"{% endif %}>{{ pf.type }}</td>
						<td{% if pf.name.errors %} class="error_list"{% endif %}>{{ pf.name }}</td>
						<td{% if pf.country.errors %} class="error_list"{% endif %}>{{ pf.country }}</td>
						<td{% if pf.start_year.errors %} class="error_list"{% endif %}>{{ pf.start_year }}</td>
						<td{% if pf.end_year.errors %} class="error_list"{% endif %}>{{ pf.end_year }}</td>
						<td{% if pf.occupation.errors %} class="error_list"{% endif %}>{{ pf.occupation }}</td>
						<td{% if pf.meridian.errors %} class="error_list"{% endif %}>{{ pf.meridian }}</td>
					</tr>
				{% endfor %}
			</table>
		</div>
		
		<div class="cvform">
			<h4>Курс дамжаа</h4>
			{% render_error courseform.forms %}
			{% for f in courseform.management_form %} {{ f }} {% endfor %}
			<table cellpadding="3" cellspacing="2" class="grid">
				<tr><th width="10px" style="text-align:right">№</th>
					<th width="200px">Курс</th>
					<th width="95px">Элссэн он</th>
					<th width="95px">Төгссөн /<br/>төгсөх он</th>
					<th width="200px">Мэргэжил</th>
					<th width="140px">Сертификат №</th>
				</tr>
				{% for pf in courseform.forms %}
					<tr>
						<td style="text-align:center">{{ forloop.counter }}</td>
						<td{% if pf.name.errors %} class="error_list"{% endif %}>{{ pf.name }}</td>
						<td{% if pf.start_year.errors %} class="error_list"{% endif %}>{{ pf.start_year }}</td>
						<td{% if pf.end_year.errors %} class="error_list"{% endif %}>{{ pf.end_year }}</td>
						<td{% if pf.occupation.errors %} class="error_list"{% endif %}>{{ pf.occupation }}</td>
						<td{% if pf.certificate.errors %} class="error_list"{% endif %}>{{ pf.certificate }}</td>
					</tr>
				{% endfor %}
			</table>
		</div>
		
		<div class="cvform">
			<h4>Гадаад хэлний мэдлэг</h4>
			{% for p_form in languageform.forms %}
				{% if p_form.errors %} {% render_error p_form %}{% endif %}
			{% endfor %}
			{% for f in languageform.management_form %} {{ f }} {% endfor %}
			<table cellpadding="3" cellspacing="2" class="grid">
				<tr><th width="10px" style="text-align:right">№</th>
					<th width="150px">Хэл</th>
					<th width="130px">Үзсэн хугацаа(сар)</th>
					<th width="150px">Ярьсныг ойлгох</th>
					<th width="150px">Өөрөө ярих</th>
					<th width="150px">Уншиж ойлгох</th>
					<th width="150px">Бичиж орчуулах</th>
				</tr>
				{% for pf in languageform.forms %}
					<tr>
						<td style="text-align:center">{{ forloop.counter }}</td>
						<td{% if pf.language.errors %} class="error_list"{% endif %}>{{ pf.language }}</td>
						<td{% if pf.period.errors %} class="error_list"{% endif %}>{{ pf.period }}</td>
						<td{% if pf.understand.errors %} class="error_list"{% endif %}>{{ pf.understand }}</td>
						<td{% if pf.speak.errors %} class="error_list"{% endif %}>{{ pf.speak }}</td>
						<td{% if pf.read.errors %} class="error_list"{% endif %}>{{ pf.read }}</td>
						<td{% if pf.write.errors %} class="error_list"{% endif %}>{{ pf.write }}</td>
					</tr>
				{% endfor %}
			</table>
		</div>
		
		<div class="cvform">
			<h4>Компьютерын мэдлэг</h4>
			<table>
			<tr><td>
			{% render_error skillform.forms %}
			{% for f in skillform.management_form %} {{ f }} {% endfor %}</td>
			<td>
			{% render_error usageform.forms %}
			{% for f in usageform.management_form %} {{ f }} {% endfor %}</td>
			</tr>
			<tr><td width="48%">
			<table cellpadding="3" cellspacing="2" class="grid">
				<tr><th width="15px" style="text-align:right">№</th>
					<th width="200px">Програм</th>
					<th width="180px">Түвшин</th>
				</tr>
				{% for pf in skillform.forms %}
					<tr>
						<td style="text-align:center">{{ forloop.counter }}</td>
						<td{% if pf.name.errors %} class="error_list"{% endif %}>{{ pf.name }}</td>
						<td{% if pf.level.errors %} class="error_list"{% endif %}>{{ pf.level }}</td>
					</tr>
				{% endfor %}
			</table>
			</td><td>
			<table cellpadding="3" cellspacing="2" class="grid">
				<tr><th width="15px" style="text-align:right">№</th>
					<th width="200px">Тоног төхөөрөмж</th>
					<th width="180px">Түвшин</th>
				</tr>
				{% for pf in usageform.forms %}
					<tr>
						<td style="text-align:center">{{ forloop.counter }}</td>
						<td{% if pf.name.errors %} class="error_list"{% endif %}>{{ pf.name }}</td>
						<td{% if pf.level.errors %} class="error_list"{% endif %}>{{ pf.level }}</td>
					</tr>
				{% endfor %}
			</table>
			</td></tr></table>
		</div>
		
		<div class="cvform">
		<h4>Ажил эрхлэлт</h4>
		{% render_error workingform.forms %}
		{% for f in workingform.management_form %} {{ f }} {% endfor %}
			<table cellpadding="3" cellspacing="2" class="grid">
				<tr><th width="15px" style="text-align:right">№</th>
					<th width="180px">Байгууллага</th>
					<th width="240px">Салбар</th>
					<th width="80px">Орсон огноо</th>
					<th width="80px">Гарсан огноо</th>
					<th width="160px">Албан тушаал</th>
					<th width="190px">Хаяг</th>
					<th width="200px">Гарсан шалтгаан</th>
				</tr>
				{% for pf in workingform.forms %}
					<tr>
						<td style="text-align:center">{{ forloop.counter }}</td>
						<td{% if pf.name.errors %} class="error_list"{% endif %}>{{ pf.name }}</td>
						<td{% if pf.category.errors %} class="error_list"{% endif %}>{{ pf.category }}</td>
						<td{% if pf.date_start.errors %} class="error_list"{% endif %}>{{ pf.date_start }}</td>
						<td{% if pf.date_stop.errors %} class="error_list"{% endif %}>{{ pf.date_stop }}</td>
						<td{% if pf.position.errors %} class="error_list"{% endif %}>{{ pf.position }}</td>
						<td{% if pf.address.errors %} class="error_list"{% endif %}>{{ pf.address }}</td>
						<td{% if pf.reason.errors %} class="error_list"{% endif %}>{{ pf.reason }}</td>
					</tr>
				{% endfor %}
			</table>
		</div>
		
		<div class="cvform">
		<h4>Гэр бүл</h4>
		{% render_error relationform.forms %}
		{% for f in relationform.management_form %} {{ f }} {% endfor %}
		<table cellpadding="3" cellspacing="2" class="grid">
			<tr><th width="15px" style="text-align:right">№</th>
				<th width="135px">Хамаарал</th>
				<th width="100px">Эцгийн нэр</th>
				<th width="100px">Өөрийн нэр</th>
				<th width="200px">Ажлын газар</th>
				<th width="145px">Албан тушаал</th>
				<th width="100px">Утас</th>
				<th width="120px">И-мэйл</th>
			</tr>
			{% for pf in relationform.forms %}
				<tr>
					<td style="text-align:center">{{ forloop.counter }}</td>
					<td{% if pf.reference.errors %} class="error_list"{% endif %}>{{ pf.reference }}</td>
					<td{% if pf.last_name.errors %} class="error_list"{% endif %}>{{ pf.last_name }}</td>
					<td{% if pf.first_name.errors %} class="error_list"{% endif %}>{{ pf.first_name }}</td>
					<td{% if pf.working.errors %} class="error_list"{% endif %}>{{ pf.working }}</td>
					<td{% if pf.position.errors %} class="error_list"{% endif %}>{{ pf.position }}</td>
					<td{% if pf.phone.errors %} class="error_list"{% endif %}>{{ pf.phone }}</td>
					<td{% if pf.email.errors %} class="error_list"{% endif %}>{{ pf.email }}</td>
				</tr>
			{% endfor %}
		</table>
		</div>
		<input type="submit" value="Хадгалах"/>
    </form>
	</div>
    
{% endblock %}