{% extends "main.html" %}

{% block title %}Хайлт: {{ categ.name }}{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/joblist.css"/>
{% endblock %}

{% block body %}

<p><span class="bigspan">{{ categ.name }}</span> ангилалд хамрагдах идэвхитэй ажлын байрууд.</p>

{% if job_list %}
{% for job in job_list %}
    <table class="box">
        <tr class="{% cycle 'oddfirst' 'evenfirst' %}"><td class="label">Байгууллага:</td><td><h3>{{ job.partner.name }}</h3></td></tr>
        <tr><td class="label">Ангилал:</td><td><h5>{{ job.category.name }}</h5></td></tr>
        <tr><td class="label">Зэрэглэл:</td><td>{{ job.level.name }}</td></tr>
        <tr><td class="label">Ажлын байр:</td><td><h5>{{ job.name }}</h5></td></tr>
        <tr><td></td><td style="text-align:right"><a href="/base/jobdetail/{{ job.id }}" class="link">Дэлгэрэнгүй...</a></td></tr>
    </table>
    <br/>

{% endfor %}
{% else %}
<p class="notify">Одоогоор хайлтанд тохирох ажлын байр алга!</p>
{% endif %}
{% endblock %}