{% extends "main.html" %}

{% block title %}Хайлт: {{ categ.name }}{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/joblist.css"/>
{% endblock %}

{% block content %}

<div id="topstory">
<div class="in">
    <p id="breadcrumbs">Та энд байна: <a href="/"><strong>Нүүр</strong></a> {{ categ.path|safe }}{% if order_id %}<span>/</span> <a href="javascript:void(0)">{{ job_name }}</a>{% endif %}</p>
</div>
<h3>{{ categ.name }} ангилалын нээлттэй ажлын байрууд</h2>
{% if job_list %}
{% for job in job_list %}
    <div id="topstory-title">
        <h2><a href="/base/jobdetail/{{ job.id }}">{{ job.partner.name }}</a></h2>
        <p class="date">
            {{ job.create_date|date:"Y.m.d" }} &nbsp;&ndash;&nbsp; 
            Ангилал: <a href="/base/joblist/{{ job.category.id }}">{{ job.category.name }}</a> &nbsp;&ndash;&nbsp;
            Зэрэглэл: <strong>{{ job.level.name }}</strong> &nbsp;&ndash;&nbsp;
            <a href="/base/jobform/{{ job.id }}">Анкет бөглөх</a> 
        </p>
    </div>
    <div id="topstory-perex">
        <p><img src="{{ job.partner.logo }}" width="200" height="150" alt="" class="f-left" />
            <strong>{{ job.name }}</strong> <br/>
            <strong>Тайлбар: </strong>{{ order.description|safe }}<br/>
            <strong>Тавигдах шаардлага:</strong>{{ order.requirement|safe }}<br/>
            Анкет авах эцсийн хугацаа: <strong>{{ order.deadline|date:"Y-m-d" }}</strong>
            </p>
        <p class="nomb t-right"><a href="/base/jobform/{{ job.id }}" class="more">Анкет бөглөх..</a></p>
    </div>
    <hr class="noscreen" />
{% endfor %}

{% else %}
<p class="notify">Одоогоор хайлтанд тохирох ажлын байр алга!</p>
{% endif %}
</div>
{% endblock %}
