{% extends "main.html" %}

{% block title %}tetstst{% endblock %}

{% block body %}

{% endblock %}
            

{% block leftside %}
	<div id="aside">
        <h4 class="title-03">Миний цэс</h4>
        <div class="in">
            <ul id="subnav">
                <li><a href="/base/addjobs">Ажлын байр нэмэх</a></li>
                <li><a href="/base/myjobs">Миний ажлын байрууд</a></li>
                <li class="last"><a href="#">Lorem ipsum sit amet</a></li>
            </ul>
        </div> <!-- /in -->
        
    </div> <!-- /aside -->
{% endblock %}