{% extends "main.html" %}

{% block style %}
<style type="text/css">
div.joblist {
	margin-left: 10px;
}

div.joblist a{
	font-size: 15px;
	font-weight: bold;
}

p.grey-text {
	padding:0;
	margin:0;
	color: #777777;
}
</style>
{% endblock %}

{% block content %}

<h2 class="title-01">Хайлтанд тохирох ажлын байр</h2>
    <div class="topstory" style="width:65%;float:left">
    <!-- Topstory -->
    
    <div class="box">
        <div id="topstory-txt">
            {% if orders %}<p id="topstory-info">Нийт: <strong>{{ orders|length }}</strong> ажлын байр олдлоо.&nbsp;&nbsp;&nbsp; 
            </p>
            {% else %}
            <p id="topstory-info">Хайлтанд тохирох ажлын байр олдсонгүй.</p>
            {% endif %}
            
            {% for order in orders %}
                <div class="joblist">
	                <a href="/base/jobdetail/{{ order.id }}">{{ order.name }}</a> - <span class="small-text">{{ order.partner.name }}</span>
	                <p class="grey-text">{{ order.functional }}</p>
	            </div>
            {% endfor %}
        
        </div> <!-- /topstory-txt -->
        
    </div> <!-- /box -->
    </div>

{% endblock %}