<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<title>Testing USI Extensions</title>

<link href="/purchase/media/images/main_logo.png" rel="shortcut icon"/>
<link href="/purchase/media/images/main_logo.png" rel="icon" />

<script type="text/javascript" src="/common/jQuery/jquery-1.2.6.js"></script>
<script type="text/javascript" src="/common/jQuery/ui/ui.core.js"></script>
{{ form.media }}
<style type="text/css">
#main {
	width: 70%;
	margin: 30px auto;
	border: 1px solid #888888;
	background: #FEFEFE;
}
</style>
</head>

<body>
<div id="main">
	{{ form.as_table }}
	
</div>
</body>
</html>
